<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Roman Gomez">
    <meta
      name="description"
      content="Esta pagina contiene un trabajo obligatorio fel master Full Stack de Master D"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../favicon.png">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Soluciones digitales</title>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-brand">
          <img src="../assets/img/logo.png" alt="Logo de la empresa">
          <h1>Soluciones digitales</h1>
        </div>

        <ul class="navbar-links">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="gallery.html">Galería</a></li>
          <li><a href="budget.html">Presupuesto</a></li>
          <li><a href="contact.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="gallery">
        <div class="section-header">
          <span class="section-number">01</span>
          <h2>Galería</h2>
        </div>

        <div class="gallery-grid">
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 1"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 2"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 3"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 4"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 5"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 6"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 7"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 8"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 9"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 10"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 11"
            width="800"
            height="600"
          >
          <img
            src="../assets/img/project.jpg"
            alt="Proyecto 12"
            width="800"
            height="600"
          >
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-social">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../assets/img/instagram.png" alt="Instagram" >
        </a>

        <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
          <img src="../assets/img/x.png" alt="X" >
        </a>

        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../assets/img/linkedin.png" alt="LinkedIn" >
        </a>
      </div>

      <p class="footer-copyright">
        © 2026 Soluciones digitales. Todos los derechos reservados.
      </p>
    </footer>
  </body>
</html>
